*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
#comment-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}
#comment-section h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#comment-section #comment-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#comment-container #do-comment{
    width: 40%;
}
#do-comment h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
#comment-container #do-comment textarea{
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gainsboro;
    outline: none;
}
#comment-container #do-comment #submit-comment{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
#do-comment .copyright-text{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(125, 125, 125);
}
#do-comment .copyright-text a{
    text-decoration: underline;
    color: rgb(125, 125, 125);
}
#comment-container #new-comment{
    width: 55%;
}
#new-comment span{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}
#new-comment li{
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 5px;
    text-align: justify;
    list-style: none;
    background-color: rgba(239, 238, 238, 0.744);
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 10px;
}
#new-comment li:hover{
    box-shadow: 0 0 10px 0px rgba(225, 223, 223, 0.744);
    background-color: white;
    cursor: pointer;
}
#comments{
    border: 1px solid gainsboro;
    padding: 10px ;
    height: 400px;
    overflow-y: scroll;
}